h1{
    color:aliceblue;
    background-color:deepskyblue;
    text-align: center;
}
h2{
    color:aquamarine;
    background-color: darkolivegreen;
    text-align: center;
}
body{
    background-image: url(../images/08.jpg);
    background-attachment: fixed;
}
table{
    background-color: cornsilk;
}
ol{
    background-image: url(../images/09.jpg);
}