div.wrap{
    width: 1000px;
    margin: 0px auto;
}

div.title{
    width: 1000px;
    height: 40px;
    background-color: gray;
    margin-bottom: 20px;
}

div.menu{
    font-size: 0px;
    width: 1000px;
    height: 320px;
    background-color: aqua;
    margin-bottom: 20px;
}

div.menuitem{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 320px;
    margin-right: 50px;
    background-color: gray
}

div.item1{
    width: 250px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
    font-size: 20px;
}

div.item2{
    width: 250px;
    height: 100px;
    background-color: red;
    font-size: 20px;
}
div.images{
    display: inline-block;
    vertical-align: top;
    width: 700px;
    height: 320px;
    background-color: gray;
}

div.images1{
    width: 700px;
    height: 300px;
    background-color: black;
}

div.images2{
    width: 700px;
    height: 20px;
    background-color: blue;
    font-size: 15px;
}

div.footer{
    width: 1000px;
    height: 40px;
    background-color: orange;
    text-align: end;
}